body {
  text-align: center;
  background: linear-gradient(to bottom, rgb(201, 35, 12), rgb(232, 135, 21));
  font-family: 'Architects Daughter', cursive;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

#john-candy-devil {
  width: 300px;
  height: 300px;
  margin: 30px auto;
}

input {
  display: block;
  margin: 20px auto;
  width: 50vw;
}

#user-error-warning {
  color: rgb(138, 14, 1);
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
}

.enemy-counts-display {
  margin-bottom: 50px;
}

.enemy-counts-display p {
  font-size: 20px;
}

button {
  display: block;
  margin: 10px auto;
}
