body {
  text-align: center;
  background: linear-gradient(to bottom, rgb(201, 35, 12), rgb(232, 135, 21));
}

#john-candy-devil {
  width: 300px;
  height: 300px;
  margin: 30px auto;
}

input {
  display: block;
  margin: 20px auto;
}

#user-error-warning {
  color: #F00;
}
